nav {
	/* background-color: #a5d5ff */
}


/* Ripped off from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer */
footer {
    display: flex;
    padding: 10px 5px;
    background-color: #45a1ff;
	color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: red; */
	/* color: white; */
	text-align: center;
}

footer p {
    flex: 1;
    margin: 0;
}

footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}