.centerForm {
	width: 40%;
	margin: 0 auto;
}

/* Ripped off from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer */
footer {
    display: flex;
    padding: 10px 5px;
	/* background-color: #45a1ff; */
	background-color: hsla(30, 10%, 23%, 1);
	color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: red; */
	/* color: white; */
	text-align: center;
}

footer p {
    flex: 1;
    margin: 0;
}

footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Any .invisibleHeader will be invisible to the eye, but show as part of the outline */
.invisibleHeader {
	clip-path: inset(100%);
	clip: rect(1px 1px 1px 1px);
	/* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	/* added line */
	width: 1px;
}

.invisibleHeader:focus {
	position: relative;
	clip: auto;
	width: auto;
	height: auto;
	overflow: auto;
}